body {
    background-color: #F2F2F2;
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.changeGridSize {
    margin-bottom: 16px;
    padding: 8px;
}

.container {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    background-color: white;
    border: 1px solid black;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1;
    aspect-ratio: 1;
}
