h1 {
    text-align: center;
}

.container {
    height: 150vh;
    width: 90vw;
    margin: auto;
    display: flex;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1;
}
